APP_PORT=3100
APP_DEBUG=true

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=myapp

SCAFFOLDING_MODE=all
SCAFFOLDING_SOURCE_HOST=
SCAFFOLDING_SOURCE_USER=
SCAFFOLDING_SOURCE_PASSWORD=
SCAFFOLDING_SOURCE_NAME=

SCAFFOLDING_SOURCE_TABLES=
SCAFFOLDING_SOURCE_SEEDS=
SCAFFOLDING_MAX_RECORD=

SESSION_TIMEOUT=1h
SESSION_SECRET=MwO3VvZ5D/vODxRmQX004NUWfovfqEwoLCf3fVSV/hU=
SESSION_COOKIE_NAME=session_token


CSRF_SECRET=42858f2f48dc21ae01534ebee6460f9047c88d52854e41fc2f944544de280310
COOKIE_SECRET=ZSLu8Wk0ELAI3EKv1xdKkiMcfDbDu0bHgc2T2rJZA6E=