<% layout('/layouts/default') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body text-center">
          <h1>405</h1>
          <p>Method Not Allowed</p>
        </div>
      </div>
    </div>
  </div>
</div>